# Библиотека Pandas

## Data Frame

In [1]:
import pandas as pd

In [2]:
#создание DataFrame по столбцам с помощью словарей
frame = pd.DataFrame({'numbers':range(10), 'chars':['a']*10})

In [3]:
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [4]:
#создание DataFrame с помощью чтения данных из файла
frame = pd.read_csv('dataset.tsv', header=0, sep='\t')

In [6]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [7]:
frame.columns

Index(['Name', 'Birth', 'City', 'Position'], dtype='object')

In [8]:
frame.shape

(6, 4)

In [9]:
new_line = {'Name':'Perov', 'Birth':'22.03.1990', 'City':'Penza'}

In [10]:
#добавление строки в DataFrame
frame.append(new_line, ignore_index=True)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [11]:
#добавление строки в DataFrame
frame = frame.append(new_line, ignore_index=True)

In [12]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [13]:
#добавление столбца в DataFrame
frame['IsStudent'] = [False]*5 + [True]*2

In [14]:
frame

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN     False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер     False
2       Белов М.М.  13.02.1980     Ростов  менеджер     False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN     False
4      Рыбина Е.П.  19.11.1985     Москва   инженер     False
5     Костров С.О.  31.05.1985     Москва    стажер      True
6            Perov  22.03.1990      Penza       NaN      True

In [15]:
#удаление строк DataFrame
frame.drop([5,6], axis=0)

              Name       Birth       City  Position IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN     False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер     False
2       Белов М.М.  13.02.1980     Ростов  менеджер     False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN     False
4      Рыбина Е.П.  19.11.1985     Москва   инженер     False

In [ ]:
frame.drop([])

In [ ]:
frame

In [ ]:
#удаление строк DataFrame (inplace)
frame.drop([5,6], axis=0, inplace=True)

In [ ]:
frame

In [ ]:
#удаление столбца DataFrame (inplace)
frame.drop('IsStudent', axis=1, inplace=True)

In [ ]:
frame

In [ ]:
#запись DataFrame в файл
frame.to_csv('updated_dataset.csv', sep=',', header=True, index=False)

In [ ]:
!cat updated_dataset.csv

In [ ]:
#аналог команды для пользователей Windows
!more updated_dataset.csv